* {
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#erase {
    padding: 3px; margin-right: 80px
}


#reset {
    padding: 3px; margin-right: 80px
}


#black {
    padding: 3px; margin-right: 80px
}


#random {
    padding: 3px; margin-right: 80px
}